*{
    margin:0;
    padding:0;
   
}

html,body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main{
  flex:1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align:center;
    display: flex;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
.homepage_cover {
    position: relative;
    text-align:center;
    color:black;
    vertical-align:bottom;
}
.homepage_cover img{
    min-width:100%;
    display:block;
}
.homepage_cover p {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline-style:solid;
        outline-width:4px;
        outline-offset: 14px;
        outline-color:black;
        margin:0;
        padding:0;
        vertical-align:bottom;
        color:white;
}
.footer{
    margin:0;
    padding:0;
    min-width:100%;
    display:block;
    height:100%;
}
.footer_inside {
    list-style-type: none;
    background-color: #333;
    vertical-align:top;
}
.footer_inside p{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
